<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

<!--    <h2>Hello [[first_name]] [[last_name]]!</h2>
    <h3>y tengo [[age]] años</h3>   -->

    <input placeholder="email" type="email" value="{{email::input}}"/>
    <input placeholder="password" type="password" value="{{password::input}}"/>
    <button on-click="login">Login</button>
    <span hidden$="{{!isLogged}}">"··· Bienvenido de nuevo ···"</span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
    ></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          }, password: {
            type: String
          }, isLogged: {
            type: Boolean,
            value: false
          }
        };
      }

      manageAJAXResponse (data) {
        console.log("Llegaron los resultados");
        console.log(data.detail.response);
      }

      login() {
        console.log("El usuario ha pulsado el botón");
        console.log("Voy a enviar la petición");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        /**
         * Con el $ referenciamos a un elenmento que está en el DOM local
         */
        this.$.doLogin.generateRequest();

        console.log("Petición enviada");
      }

      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
