<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Sus cuentas</h2>

    <template is="dom-repeat" items="{{accounts}}">
      <span>IBAN - {{item.IBAN}}</span>
      <span>Saldo - {{item.balance}}</span>
      <br />
    </template>

    <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/accounts/{{userid}}"
      handle-as="json"
      on-response="showData"
    ></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {IBAN: {
          type: String
        }, balance: {
          type:Number
          };
        }
      }
      showData (data) {
        console.log("ShowData");
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
